body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.chat-app {
  display: flex;
  height: 85vh;
  width: 95%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.sidebar {
  width: 250px;
  background-color: #3498db;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
}

.course-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.course-list li {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.course-list li:hover,
.course-list li.active-course {
  background-color: #2980b9;
}

.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
}

.chat-header {
  padding: 20px;
  background-color: #2980b9;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.chat-header h3 {
  margin: 0;
}

.dropdown-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #333;
}

.dropdown-content button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  color: #333;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.messages-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.message.me {
  justify-content: flex-end;
}

.message.other {
  justify-content: flex-start;
}

.message-content {
  max-width: 70%;
  padding: 10px;
  border-radius: 20px;
  background-color: #bdc3c7;
}

.message.me .message-content {
  background-color: #3498db;
  color: white;
}

.message.other .message-content {
  background-color: #ecf0f1;
  color: black;
}

.message-input-container {
  display: flex;
  padding: 20px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  /* margin-right: 10px; */
  color: #333;
}

.send-btn {
  padding: 10px 20px;
  background-color: #2980b9;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.file-input-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.file-input-label {
  cursor: pointer;
}

.file-input-label img {
  width: 24px;
  height: 24px;
}

.no-messages {
  text-align: center;
  color: #999;
}
